asgiref
Django
python-dotenv
pyactiveresource
pytz
PyYAML
ShopifyAPI
six
sqlparse
tomli-w
django-extensions
jupyter
notebook < 7.0
shopifyapp
pandas>=1.0.0
requests>=2.25.0
wagtail
wagtail-localize>=1.8
django-ninja @ git+https://github.com/mikeedjones/django-ninja.git@a1a5273
django-ninja-mcp==0.0.1a2
daphne>=4.1.2
django-eventstream>=5.3.2
mcp>=1.6.0
celery>=5.4
django-celery-beat>=2.9
redis>=5.0
psycopg2-binary>=2.9
